<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <style>
        .flex {
            display: flex;
            flex-direction: column;
            height: 100vh;
        }
    </style>

    <title>Admin panel</title>

</head>
<body>
<div class="container" style="max-width: 1725px;height: 60px;">
    <div class="row">
        <div th:each="Role : ${user.getRoles()}" class="col btn-link text-white font-weight-bolder"
             th:text="${user.getEmail()+' with roles: '+Role.getName()}" style="background-color: #343a40;padding-top: 17px;
        padding-bottom: 10px;font-size:120%">
            Hello!!
        </div>
        <div class="col" style="background-color: #343a40;padding-top: 10px;padding-bottom: 10px;text-align: right;">
            <button type="submit" class="btn btn-link text-white" onclick="window.location.href = '/login'">Logout
            </button>
        </div>
    </div>
</div>

<div class="container" style="max-width: 1725px;">
    <div class="row">
        <div class="col-2 flex">
            <button type="button" class="btn btn-primary" disabled style="margin-left:
           -15px;margin-right: -15px;margin-top: 15px;text-align: left;">User
            </button>

        </div>
        <div class="col flex" style="background-color: #f8f9fa;padding-top: 15px;padding-left: 25px;
        padding-right: 25px;">
            <h1>User inrormation-page</h1>
            <div class="col" style="background-color: #f8f9fa;padding-left: 0px;padding-right: 0px;
          padding-top: 10px;">

                <div class="row">
                    <div class="col border rounded" style="padding-top: 5px;padding-bottom: 5px;
                padding-left: 15px;margin-left: 15px;margin-right: 15px;background-color: #FFFFFF;">
                        <div class="row">
                            <div class="col rounded-top" style="font-size: 1.5em;padding-left: 15px;background-color: #F7F7F7;
                margin-top: -5px;margin-bottom: -5px;">About user
                            </div>
                        </div>
                        <div class="row">
                            <div class="col border-top" style="padding-top: 15px;margin-top: 5px;">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="table-active" style="background-color: rgba(0, 0, 0, 0);">
                                        <td th:text="${user.getId()}"></td>
                                        <td th:text="${user.getFirstName()}"></td>
                                        <td th:text="${user.getLastName()}"></td>
                                        <td th:text="${user.getAge()}"></td>
                                        <td th:text="${user.getEmail()}"></td>
                                        <td>
                                            <table class="table table-borderless"
                                                   style="margin-top: -12px;margin-left: -15px;">
                                                <tr th:each="Role : ${user.getRoles()}">
                                                    <td th:text="${Role.getName()}"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
        crossorigin="anonymous"></script>

</body>
</html>